*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap");

:root {
    font-size: 62.5%;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    cursor: pointer;
    margin: 10px 0px;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

nav ul li a:hover {
    color: #e53e3e;
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 3rem;
}

.col-1 h3 {
    font-size: 2.4rem;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 1.6rem;
}

.col-1 h4 {
    font-size: 2rem;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #e53e3e, blue);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button .icon {
    display: none;
}

button:hover .icon {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-1::after {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #e53e3e, #f66565);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .controller {
    width: 90%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #e53e3e, blue);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

.add-btn img {
    width: 35px;
    margin-bottom: 5px;
}

.add-btn {
    text-align: center;
    color: white;
    cursor: pointer;
}

.social-links img {
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-links {
    text-align: center;
}

/* Devices less than 700px */
@media only screen and (max-width: 700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(to right, #e53e3e, blue);
        position: absolute;
        top: 75px;
        right: 0px;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: white;
    }

    .menu-icon {
        display: block;
    }

    #menu-list {
        overflow: hidden;
        transition: 0.5s;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0px;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .controller {
        width: 77%;
    }
    .color-box {
        transform: translateX(75px);
    }
    .col-1 {
        flex-basis: 100%;
    }
    .col-1 h2 {
        font-size: 2.5rem;
    }
    .col-1 h3 {
        font-size: 2rem;
    }
}
